.container {
  background-image: url(../images/background_img.jpg);
}

.title {
  text-align: center;
  font-style: bolder;
  font-color: black;
  font-size: 50px;
}

.text {
  background color: #fcf8e3;
  font color: green;
  text-align: left;
}

.btn-default {
  margin: 10px;
}

#stats {
  text-align: left;
}

#score {
  text-align: left;
}
